.list__group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 0.25rem;
  ul {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .list__group__item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff4dd;
    border: 0.5px solid rgba(0, 0, 0, 0.125);
    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }
    &:last-child {
      border-bottom-right-radius: inherit;
      border-bottom-left-radius: inherit;
    }
    + .list__group__item {
      border-top-width: 0;
    }
  }
}
