.list__item {
  font-size: 1.25rem;
  button {
    width: 25px;
    height: 25px;
    margin: 3px;
  }
  .exclamation__icon {
    background-image: url("./exclamation-solid.svg");
    z-index: 2;
  }
  .trash__icon {
    background-image: url("./trash.svg");
    // z-index: 2;
  }
  .done {
    text-decoration: line-through;
    color: rgb(163, 163, 163);
    cursor: pointer;
  }
  .standart {
    text-decoration: none;
    cursor: pointer;
  }
}
